{# empty Twig template #}
<script>
    function popitup(url) {
	newwindow=window.open(url,'name','height=600,width=400,screenX=500,screenY=50');
	if (window.focus) {newwindow.focus()}
	return false;
    }
</script>    
Assign Sessions : <br>

{%for course in courses%}

    {{course.course_id}} - {{course.title}}<br>
    <a href="{{path('session_newGiven',{'courseId': course.course_id,'id': id})}}"> Assign A session</a>

{%endfor%}