{# empty Twig template #}
Successfully Added the resource Person
RP ID -  {{id}} <br>
Course - {{course}}<br>
Session - {{session}}


<a href="{{path('rsp_showAll')}}"> Back to Resource Person Page</a>