<h1>Hello, Welcome to InKambo Course Registration System!</h1>
<br>

<ul class="record_actions">
    <li>
        <a href="{{ path('application_new') }}">
            Apply for a course
        </a>
    </li>
    <li>
        <a href="{{ path('application_newC', {'courseId': 'CS0000'}) }}">
            Apply for course CS0000 
        </a>
    </li>
</ul>




