<h3>{{ applicant.nic }}</h3>
<br>

<form action="{{ path('application_rate', {"id":applicant.appId}) }}" method="POST">
    Rating: <input type="number" name="points" min="0" max="10">
    <input type="submit">
</form>

  <ul class="record_actions">
    <li>
        <a href="{{ path('application') }}">
            Back to the list
        </a>
    </li>
</ul>