<h1>Welcome to the course Page </h1>


<a href="{{ path('course_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> Add New</a><br>
<a href="{{ path('course_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> Edit</a><br>
<a href="{{ path('course_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> Delete</a><br>
<a href="{{ path('course_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> View All</a>

