{% extends "ABCStyleBundle:Templates:TwitterFormTemplate.html.twig"%}

{% block container%}
          
        {{ form(form)}}
        
        <ul class="record_actions">
         <li>
         <a href="{{ path('rsp') }}">
            Back to the list
        </a>       
             </li>  
         </ul>
{% endblock %}        
