
<div id="course_home">

    <ul class="navbar">
              {%for key, courses in dynamic_courses%}
        <li><a href ="">{{key}}</a></li>
        {%for course in courses%}
        <ul>
            <li><a href ="">{{course.getTitle}}</a></li>
        </ul>
            {%endfor%}
                    {%endfor%}

    </ul>
    <h3> Top Rated Courses </h3>   
    {%for course in top_courses%}
            <li><a href ="">{{course.course_id}}</a></li>

                        {%endfor%}


