<h1>Welcome to the Rsp Home page</h1>


<table border="2" style="margin-left: auto;margin-right: auto">

    
       <tr>
           <td> <a href="{{ path('rsp_new')}}"> Add </a></td>  
        </tr>
   
       <tr>
           <td> <a href=""> Edit </a></td>  
        </tr>
        
       <tr>
           <td> <a href="{{ path('rsp_showAll')}}"> View </a></td>  
        </tr>
        
       <tr>
           <td> <a href=""> Delete </a></td>  
        </tr>
    
</table>