<h1>Contact Us Here!</h1>

{{ form(form) }}

{#
<br>
<form action="{{path('contact_send')}}" method="post">
    Your name<br>
    <input type="text" name="name"><br>
    Your e-mail<br>
    <input type="text" name="email"><br>
    Message<br>
    <textarea name="message">
    </textarea>
    <br>
<input type="submit" value="Send">
<input type="reset" value="Clear">
</form>
#}