<form action="{{path('abc_home_contact')}}" method="POST">
    <ul class="record_actions"> 
        <li>Name<input type='text' name="name"></li>
        <li>email<input type='email' name="email"></li>
        <li>Subject<input type='text' name="subject"></li>
        <li>Message<input type='text' name="message"></li>
    </ul>
<br>
    <input type="submit" value="Submit">

</form>